body {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	background-color: antiquewhite;
}
h1 {
	text-align: center;
}
.box-score {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container {
	border: 4px solid black;
	background-color: aqua;
	width: 457.4px;
	color: aqua;
}
.col {
	border: 1px solid grey;
	height: 30px;
	padding: 0;
}
.snake {
	background-color: black;
}
.apple {
	background-color: red;
}
